
@media (max-width: 947px) and (min-width: 769px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn::before {
    height: 0px;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .contain {
    flex-direction: column;
  }
  .judges,
  .prizebox,
  .projmentor {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
}

/* Responsive styling for Iphone 12,X,6,7,8*/
@media (max-width: 400px) {
  /* navbar set */
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn::before {
    height: 0px;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .contain {
    flex-direction: column;
  }
  .first-text,
  .first-subtext,
  .first-img {
    position: relative;
    left: -25px;
  }
  .prize {
    position: relative;
    left: 190%;
  }
  .team {
    position: relative;
    left: 115%;
  }
  .contact {
    position: relative;
    left: 169%;
  }
  .tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .judges {
    color: white;
  }

  .contain2 {
    width: 400px;
  }
  .judges,
  .prizebox,
  .projmentor {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  /* Changes for teams */
  .slideshow-container {
    width: 1000px;
    position: relative;
    margin: auto;
    left: 30%;
  }
  .dots {
    position: relative;
    margin: auto;
    left: 30%;
  }
  /* Changes for Contact */
  .container{
    position:relative;
    width:800px;
    left:150px;
    height:200px;
  }
  .phone{
    justify-content: end;
    width: 100%;
  }
  /* Changes for Footer */
  footer{
    left:411px;
    width:495px;
  }
}
/* set everything in center  */

/* Responsive styling for Iphone 6/7/8 plus */
@media (max-width: 415px) and (min-width: 400px) {
  /* Slide show container width -team container*/
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn::before {
    height: 0px;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .contain {
    flex-direction: column;
  } 
  .prize {
    position: relative;
    left: 190%;
  }
  .team {
    position: relative;
    left: 115%;
  }
  .contact {
    position: relative;
    left: 225%;
  }
  .tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .contain2 {
    left: 350px;
    width: 415px;
    text-align: center;
  }

  .judges,
  .prizebox,
  .projmentor {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
/* Changes for team container */
  .slideshow-container{
    width:1000px;
    position:relative;
    left:25%;
  }
  .dots{
   
    position:relative;
    left:100%;
  }
  /* Increase width of contact container rest is perfect :) */
  
/* Changes for contact container */

.container{
  position:relative;
  width:500px;
  left:300px;
  height:200px;
}
.phone{
  justify-content: end;
  width: 100%;}
/* Changes for Footer */
footer{
  left:411px;
  width:495px;
}


}
@media (max-width: 500px) and (min-width: 416px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn::before {
    height: 0px;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .contain {
    flex-direction: column;
  }
  .judges,
  .prizebox,
  .projmentor {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
}
@media (max-width: 691px) and (min-width: 500px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn::before {
    height: 0px;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .contain {
    flex-direction: column;
  }
  .judges,
  .prizebox,
  .projmentor {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
}

/* Remaining for 
Team
Contact
Footer */
@media (max-width: 721px) and (min-width: 691px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn::before {
    height: 0px;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .contain {
    flex-direction: column;
  }
  .judges,
  .prizebox,
  .projmentor {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
}

/* Remaining for 
Team
Contact
Footer */
/* Responsive styling for Ipad */
@media (max-width: 769px) and (min-width: 722px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn::before {
    height: 0px;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .contain {
    flex-direction: column;
  }
  /* main content to left */
  /* themes set */
  /* prizes set */
  /* judge set */
  /* mentor set */
  /* everything center aligned  */
  .judges,
  .prizebox,
  .projmentor {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
}
/* Remaining for 
Team
Contact
Footer */
@media (max-width: 991px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn::before {
    height: 0px;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .contain {
    flex-direction: column;
  }
}

/* Remaining for 
Team
Contact
Footer */
/* Responsive for Ipad pro */
@media (max-width: 1025px) and (min-width: 946px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn::before {
    height: 0px;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .contain {
    flex-direction: column;
  }
  /* //judges boxes 2 each */
  /* prize last box mid */
  /* themes last box mid */
  /* main content shift to left */
}
/* Responsive styling for several screens */
@media (max-width: 1920px) and (min-width: 1320px) {

}
